.company-container {
    text-align: center;
    background-color: #0C1821; /* Match global theme */
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1);
}

.chart-container {
    background-color: #1B2A41;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.linechart {
    stroke-width: 2.5;
}

