body {
  background-color: #f6f2df;
  color: #000000;
}

a {
  color: #21754f;
  text-decoration: none;
}

a:hover {
  color: #5e9076;
}

button {
  background-color: #58b785;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
}

button:hover {
  background-color: #21754f;
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}
